VITE_SUPABASE_URL=https://uvmhqwpkmzxrrlkeguul.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2bWhxd3BrbXp4cnJsa2VndXVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2MzIyNjgsImV4cCI6MjEwNTIwODI2OH0.vqPtbWpsMEVDnZqzVqzB1onKd-pL5T53qsRB3-IIjZU
DATABASE_URL=postgresql://postgres.uvmhqwpkmzxrrlkeguul:BwYofacVm0ibBz67@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
VITE_R2_ACCOUNT_ID=35014a2514680107d74e1e68d96e6c32
VITE_R2_BUCKET_NAME=ebro-it-demo
VITE_R2_PUBLIC_DOMAIN=https://pub-a2468b66c450440dab37e0c02d516ca6.r2.dev
